@model IEnumerable<Wordless.Models.Book>
@using Wordless.Models;
@{WordlessContext db = new WordlessContext(); }
@{
    ViewBag.Title = "Register";
}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 register-page-div">
                <div class="bodyDiv">
                    <div class="main-Content" >
                        <div class="register-page-div">
                            <div class="register-page-div">
                                <h2 class="register-page-text">Sign in</h2>
                                <form action="/User/Login" method="post">
                                    <div class="field-wrap">
                                        <input type="text" name="username" class="form-control" required autocomplete="off" placeholder="username" />
                                    </div>

                                    <div class="field-wrap">
                                        <input type="password" name="password" class="form-control" required autocomplete="off" placeholder="password" />
                                    </div>
                                    <button type="submit" class="btn button-block">Go</button>
                                </form>
                            </div>
                            <hr />

                            <header  style="font-size:32px" id="Welcome">Login with facebook</header>
                            <form>
                                <a href="/Account/Facebook/">Login with Facebook</a>
                                <div class="fb-like"
                                     data-share="true"
                                     data-width="450"
                                     data-show-faces="true">
                                </div>
                            </form>
                        </div>
                        <hr />
                        <div class="register-page-div">
                            <h2 class="register-page-text">Sign up</h2>
                            <h5 class="info-text">@TempData["error"]</h5>
                            <form action="/User/Register" method="post">
                                <div class="field-wrap">
                                        <input type="text" class="form-control" name="name" required autocomplete="off" placeholder="name (2-15 chars)" />
                                    
                                </div>
                                    <div class="field-wrap">
                                        <input type="text" class="form-control" name="username" required autocomplete="off" placeholder="username (2-15 chars)" />
                                    
                                </div>
                                <div class="field-wrap">
                                    <input type="email" class="form-control" name="email" required autocomplete="off" placeholder="email" />
                                </div>
                                <div class="field-wrap">
                                    <input type="password" class="form-control" name="password" required autocomplete="off" placeholder="password (min 6 chars)" />
                                </div>

                                <div class="field-wrap">
                                    <p>Register as author:<input type="checkbox" name="isAuthor" autocomplete="off" value="true" /></p>
                                </div>
                                <button type="submit" class="btn button-block">Register</button>
                            </form>
                        </div>
                        <hr />
                       
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar-Top sidebar-nav hidden-sm hidden-xs">
                    @{
                        var mostDownloadedList = Session["MostDownloaded"] as List<Wordless.Models.Book>;
                    }
                    @if (mostDownloadedList.Count > 0)
                    {
                        <p class="sidebar-name">Most downloaded</p>
                        foreach (var book in mostDownloadedList)
                        {
                            <ul class="sidebar-list">
                                <li><a href="@Url.Action("BookDetails", "Book", new { bookId = book.BookId })"><span class="glyphicon glyphicon-book"></span><strong> @book.Title</strong></a></li>
                                <li class="sidebar-list-text-author">Written by: @book.Author.Name</li>
                                <li>@book.TimesPurchased <span class="glyphicon glyphicon-credit-card"></span></li>
                            </ul>
                        }
                    }
                </div>
                <div class="sidebar-mid-bot sidebar-nav hidden-sm hidden-xs">
                    @{
                        var bestRatedList = Session["BestRating"] as List<Wordless.Models.PurchasedBook>;
                    }
                    @if (bestRatedList.Count > 0)
                    {
                        <p class="sidebar-name">Best rating</p>
                        foreach (var item in bestRatedList)
                        {
                            <ul class="sidebar-list">
                                <li><a href="@Url.Action("BookDetails", "Book", new { bookId = item.BookId })"><span class="glyphicon glyphicon-book"></span><strong> @item.Book.Title</strong></a></li>
                                <li class="sidebar-list-text-author">Written by: @item.Book.Author.Name</li>
                                <li>@item.Rating <span class="glyphicon glyphicon-star"></span></li>
                            </ul>
                        }
                    }
                </div>
                <div class="sidebar-mid-bot sidebar-nav hidden-sm hidden-xs">
                    @{
                        var mostCommentedList = Session["MostCommented"] as List<Wordless.Models.Book>;
                    }
                    @if (mostCommentedList.Count() > 0)
                    {
                        <p class="sidebar-name">Most commented</p>
                        foreach (var book in mostCommentedList)
                        {
                            <ul class="sidebar-list">
                                <li><a href="@Url.Action("BookDetails", "Book", new { bookId = book.BookId })"><span class="glyphicon glyphicon-book"></span><strong> @book.Title</strong></a></li>
                                <li class="sidebar-list-text-author">Written by: @book.Author.Name</li>
                                <li>@book.Comments.Count() <span class="glyphicon glyphicon-comment"></span></li>
                            </ul>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
</body>
