<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <!--Facebook Api script-->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1774392159446483',
                xfbml: true,
                version: 'v2.6'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

</head>
<body id="LayoutBody">
    @*<div id="Banner">
            <img src="~/Img/WordlessBannerBig.jpg" id="BannerImg" />
        </div>*@
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <img style="margin-left:30px; margin-right:3px; border-radius:5px;" src="~/Img/minibanner.jpg" />
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse max-width-navbar" id="navbar-collapse">
                <button class="btn dropbtn" href="/Home/Index" type="button" onclick="location.href='@Url.Action("Index", "Home")'">
                        Home
                </button>
                <button class="btn dropbtn" type="button" onclick="location.href='@Url.Action("Index", "Book")'">Books</button>
                <div class="dropdown">
                    <button  class="btn dropbtn dropdown-toggle hidden-sm hidden-xs" href="/Book/Index"type="button" data-toggle="dropdown">
                        Books by genre
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        @*FOREACH*@
                        <li><a href="#">Thriller</a></li>
                        <li><a href="#">Romance</a></li>
                        <li><a href="#">ScienceFiction</a></li>
                        <li><a href="#">Fantasy</a></li>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Mystery</a></li>
                        <li><a href="#">Philosophy</a></li>
                        <li><a href="#">Religion</a></li>
                        <li><a href="#">Crime</a></li>
                        <li><a href="#">History</a></li>
                        </ul>
                </div>
                <div class="nav navbar-nav navbar-right">
                    @if ((bool)Session["loginStatus"])
                    {
                        <button class="btn dropbtn" type="button" onclick="location.href='@Url.Action("Logout", "User")'">
                            Logout
                        </button>
                    }
                    @if (!(bool)Session["loginStatus"])
                    {

                        <button class="btn dropbtn" type="button" onclick="location.href='@Url.Action("Register", "User")'">
                            Login
                        </button>
                    }

                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>